<% if @task.errors.present? %>
<ul>
  <% @task.errors.each do |error, message| %>
    <li style="color:red"><%= "#{error.capitalize}欄位#{message} "%></li>
  <% end %>
</ul>
<% end %>

<%= simple_form_for(task) do |f| %>
  <div class="form-group">
  <%= f.input :task, label: t('views.tasks.title'), placeholder: t('views.placeholder'), :required => false, class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.input :deadline, label: t('views.tasks.deadline'), class:"form-control" %>
  </div>
  <div class="form-group">
  <%= f.input :state, label: t('views.tasks.state'), collection: [:processing, :solved], class:"form-control"  %>
  </div>
  <div class="form-group">
  <%= f.input :content, as: :text, label: t('views.tasks.content'), class:"form-control", rows:"3" %>
  </div>
  <div class="form-group">
  <%= f.input :priority, label: t('views.tasks.priority'), collection: [:low, :middle, :high], class:"form-control" %>
  </div>
  <div class="form-group">
  <%= f.input :tag_items, label: t('views.tasks.tag'), as: :select, collection: Tag.order(:name), label_method: :name,value_method: :name, input_html: {multiple: true} %>
  </div>
  <%= f.button :submit, t('views.submit_btn'), class: 'btn btn-success btn-lg' %>
<% end %>


