<h1><%= t('views.searchresult') %></h1>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <td scope="col"><%= t('views.tasks.title') %></td>
      <td scope="col"><%= t('views.tasks.username') %></td>
      <td scope="col"><%= t('views.tasks.date') %></td>
      <td scope="col"><%= t('views.tasks.state') %></td>
      <td scope="col"><%= t('views.tasks.priority') %></td>
      <td scope="col"><%= t('views.tasks.tag') %></td>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td scope="row"><%= task.task %></td>
      <td scope="row"><%= task.user.username %></td>
      <td scope="row"><%= (task.deadline).strftime("%B %d, %Y %H:%M") %></td>
      <td scope="row"><%= task_state(task.state) %></td>
      <td scope="row"><%= task_priority(task.priority) %></td>
      <td scope="row"><%= render_task_tags(task.tags) %></td>
      <td scope="row">
      <%= link_to t('views.tasks.edit'), edit_task_path(task), class:"btn btn-outline-warning" %>
      <%= link_to t('views.tasks.show'), task_path(task), class:"btn btn-outline-primary"  %>
      <%= link_to t('views.tasks.delete'), task_path(task), method: "delete", data:{ confirm: t('views.tasks.delete_msg')}, class:"btn btn-outline-danger"  %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('views.home'), tasks_path, class:"btn btn-primary btn-lg btn-block", style:"margin: 20px 0" %>

<%= paginate @tasks, :theme => 'twitter-bootstrap-4'  %>


