<h1><%=t('views.show_task')%></h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <td scope="col"><%= t('views.tasks.title') %></td>
      <td scope="col"><%= t('views.tasks.username') %></td>
      <td scope="col"><%= t('views.tasks.deadline') %></td>
      <td scope="col"><%= t('views.tasks.content') %></td>
      <td scope="col"><%= t('views.tasks.tag') %></td>
      <td scope="col"><%= t('views.tasks.state') %></td>
      <td scope="col"><%= t('views.tasks.priority') %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><%= @task.task %></td>
      <td scope="row"><%= @task.user.username %></td>
      <td scope="row"><%= (@task.deadline).strftime("%B %d, %Y %H:%M") %></td>
      <td scope="row"><%= @task.content %></td>
      <td scope="row"><%= render_task_tags(task.tags) %></td>
      <td scope="row"><%= task_state(@task.state) %></td>
      <td scope="row"><%= task_priority(@task.priority) %></td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to t('views.home'), tasks_path, class:"btn btn-primary btn-lg btn-block" %>
</div>