<h1><%=t('views.show_task')%></h1>
<%= link_to t('views.home'), tasks_path %>

<table>
  <thead>
    <tr>
      <td><%= t('views.tasks.title') %></td>
      <td><%= t('views.tasks.content') %></td>
      <td><%= t('views.tasks.deadline') %></td>
      <td><%= t('views.tasks.state') %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.task %></td>
      <td><%= @task.content %></td>
      <td><%= @task.deadline %></td>
      <td><%= @task.state %></td>
    </tr>
  </tbody>
</table>