<h1><%=t('views.show_task')%></h1>
<%= link_to t('views.home'), tasks_path %>

<table>
  <thead>
    <tr>
      <td>任務</td>
      <td>內容</td>
      <td>創建時間</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.task %></td>
      <td><%= @task.content %></td>
      <td><%= @task.created_at %></td>
    </tr>
  </tbody>
</table>