<div class="row justify-content-md-center">
  <div class="col-4">
    <div class="card mt-5">
      <div class="card-header text-center">
        <%= t('user.profile') %>
      </div>
      <div class="card-body">
        <p><%= t('views.user.username') %>: <%= @user.username%></p>          
        <p><%= t('views.user.email') %>: <%= @user.email%></p>          
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to t('views.home'), tasks_path, class:"btn btn-primary btn-lg btn-block" %>
</div>